<mat-card>
  <mat-card-header>
   <a href="/"> <mat-icon fontIcon="keyboard_return"></mat-icon></a>
    <mat-card-title> Sign Up </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>E-Mail</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Passwort</mat-label>
      <input matInput />
    </mat-form-field>
    <button mat-raised-button>Sign Up!</button>
  </mat-card-content>
</mat-card>
